[project]
	description = Ferma, a reworking of tinkerpop frames
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/freemo (freemo)
[access "refs/for/refs/*"]
	read = group user/freemo (freemo)
	push = group user/freemo (freemo)
	label-Code-Review = -2..+2 group user/freemo (freemo)
	label-Verified = -1..+1 group user/freemo (freemo)
	rebase = group user/freemo (freemo)
	removeReviewer = group user/freemo (freemo)
	submit = group user/freemo (freemo)
[access "refs/heads/*"]
	read = group user/freemo (freemo)
	create = group user/freemo (freemo)
	push = +force group user/freemo (freemo)
	pushMerge = group user/freemo (freemo)
[access "refs/tags/*"]
	push = +force group user/freemo (freemo)
	pushTag = group user/freemo (freemo)
	pushSignedTag = group user/freemo (freemo)
